{% load static %}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" data-bg-class="bg-menu-theme"
    style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">

    <div class="app-brand demo ">
        <a href="" class="app-brand-link">
            <span class="app-brand-logo demo">

                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <rect x="3" y="3" width="18" height="4" rx="2" ry="2"></rect>
                    <path d="M3 7v11a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V7"></path>
                    <line x1="10" y1="12" x2="14" y2="12"></line>
                  </svg>
                  
            </span>
            <span class="app-brand-text demo menu-text fw-bold ms-2">Arxiv</span>
        </a>
    </div>

    <div class="menu-inner-shadow" style="display: block;"></div>

    <ul class="menu-inner py-1 ps ps--active-y">
        <li class="menu-item active open">
            <a href="/" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-street-view"></i>
                <div class="text-truncate">Talabalar</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item active">
                    <a href="/" class="menu-link">
                        <div class="text-truncate">Talabalar</div>
                    </a>
                </li>
                <li class="menu-ite">
                    <a href="#" class="menu-link ">
                        <div class="text-truncate">Srtqi talabalar</div>
                    </a>
                </li>
                <li class="menu-item ">
                    <a href="#" class="menu-link">
                        <div class="text-truncate">Magistratura talabalar</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item active open">
            <a href="" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bxs-user-rectangle"></i>
                <div class="text-truncate">Ma'lumotlar</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item ">
                    <a href="#" class="menu-link ">
                        <div class="text-truncate">Xodimlar</div>
                    </a>
                </li>
                <li class="menu-item ">
                    <a href="#" class="menu-link">
                        <div class="text-truncate">Abituriyent</div>
                    </a>
                </li>
            </ul>
        </li>

    </ul>

</aside>
<!-- / Menu -->