{% extends 'base/base.html' %}
{% load static %}

{% block content %}  
{% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}  
<div class="container-xxl flex-grow-1 container-p-y">

    <!-- DataTable with Buttons -->
    <div class="card">
        <div class="card-datatable table-responsive">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                <div class="container mt-5">
                    <div class="head-label">
                        <h4 class="card-title mb-0">Xodim qo'shish</h4>
                    </div>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="first_name" class="form-label">Ism:</label>
                                    <input type="text" id="first_name" name="first_name" class="form-control" value="{{ employee.first_name }}" placeholder="Ism...">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="last_name" class="form-label">Familiya:</label>
                                    <input type="text" id="last_name" name="last_name" class="form-control" value="{{ employee.last_name }}" placeholder="Familiyasi...">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="sur_name" class="form-label">Otasini ismi:</label>
                                    <input type="text" id="sur_name" name="sur_name" class="form-control" value="{{ employee.sur_name }}" placeholder="Otasini ismi...">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="citizenship" class="form-label">Fuqaroligi:</label>
                                    <input type="text" id="citizenship" name="citizenship" class="form-control {% if error %}is-invalid{% endif %}" value="{{ employee.citizenship }}" placeholder="Fuqaroligi..."> 
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="place_of_birth" class="form-label">Tug'ilgan joyi (viloyat):</label>
                                    <input type="text" id="place_of_birth" name="place_of_birth" class="form-control" value="{{ employee.place_of_birth }}" placeholder="Tug'ilgan joyi...">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="city" class="form-label">Tuman/Shahar:</label>
                                    <input type="text" id="city" name="city" class="form-control" value="{{ employee.city }}" placeholder="Tuman/Shahar...">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="permanent_registration" class="form-label">Doimiy yashash joyi:</label>
                                    <input type="text" id="permanent_registration" name="permanent_registration" class="form-control" value="{{ employee.permanent_registration }}" placeholder="Doimiy yashash joyi...">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="personal_number" class="form-label">JSHSHIR-kod:</label>
                                    <input type="text" id="personal_number" name="personal_number" class="form-control" value="{{ employee.personal_number }}" placeholder="JSHSHIR-kod...">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="bithday" class="form-label">Tug'ilgan yil/kun:</label>
                                    <input type="text" id="bithday" name="bithday" class="form-control {% if form.errors.bithday %}is-invalid{% endif %}"
                                           value="{{ employee.bithday }}" placeholder="25.12.2024"
                                           pattern="\d{2}\.\d{2}\.\d{4}" title="Sanani DD.MM.YYYY formatida kiriting, masalan: 25.12.2024">
                                    {% if form.errors.bithday %}
                                        <div class="invalid-feedback">
                                            {{ form.errors.bithday }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="passport" class="form-label">Passport raqami:</label>
                                    <input type="text" id="passport" name="passport" class="form-control" value="{{ employee.passport }}" placeholder="Passport rqami...">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="nationality" class="form-label">Millati:</label>
                                    <input type="text" id="nationality" name="nationality" class="form-control" value="{{ employee.nationality }}" placeholder="Millati...">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="phone" class="form-label">Telefoni:</label>
                                    <input type="text" id="phone" name="phone" class="form-control" value="{{ employee.phone }}" placeholder="+998901234567">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email:</label>
                                    <input type="tetx" id="email" name="email" class="form-control" value="{{ employee.email }}" placeholder="Email...">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="gender" class="form-label">Jinsi:</label>
                                    <input type="text" id="gender" name="gender" class="form-control" value="{{ employee.gender }}" placeholder="Jinsi...">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="employee_id" class="form-label">Hemis ID:</label>
                                    <input type="text" id="employee_id" name="employee_id" class="form-control" value="{{ employee.employee_id }}" placeholder="Hemis ID..." required>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="academic_degree" class="form-label">Ilmiy daraja:</label>
                                    <input type="text" id="academic_degree" name="academic_degree" class="form-control" value="{{ employee.academic_degree }}" placeholder="Ilmiy daraja...">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="academic_title" class="form-label">Ilmiy unvon:</label>
                                    <input type="text" id="academic_title" name="academic_title" class="form-control" value="{{ employee.academic_title }}" placeholder="Ilmiy unvon...">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="organization" class="form-label">Tashkiloti nomi:</label>
                                    <input type="text" id="organization" name="organization" class="form-control" value="{{ employee.organization }}" placeholder="Tashkiloti nomi...">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="graduation_end_year" class="form-label">Oliy ta'lim muassasasini tugatgan yili (Bakalavr):</label>
                                    <input type="text" id="graduation_end_year" name="graduation_end_year" class="form-control" value="{{ employee.graduation_end_year }}" placeholder="Oliy ta'lim muassasasini tugatgan yili...">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="end_education" class="form-label">Tugatgan oliy ta'limi nomi (Bakalavr):</label>
                                    <input type="text" id="end_education" name="end_education" class="form-control" value="{{ employee.end_education }}" placeholder="Tugatgan oliy ta'limi nomi...">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="graduation_end_year_mag" class="form-label">Oliy ta'lim muassasasini tugatgan yili (Magistr):</label>
                                    <input type="text" id="graduation_end_year_mag" name="graduation_end_year_mag" class="form-control" value="{{ employee.graduation_end_year_mag }}" placeholder="Oliy ta'lim muassasasini tugatgan yili...">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="end_education_mag" class="form-label">Tugatgan oliy ta'limi nomi (Magistr):</label>
                                    <input type="text" id="end_education_mag" name="end_education_mag" class="form-control" value="{{ employee.end_education_mag }}" placeholder="Tugatgan oliy ta'limi nomi...">
                                </div>
                            </div>
                        </div>
                        {% if employee %}
                        <a href="{% url 'all_employees'%}" class="btn btn-primary"><i class='bx bx-left-arrow-alt'></i> Ortga</a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                            <i class="bx bx-trash bx-md"></i>  O'chirish 
                        </button>
                        <a href="{% url 'view_employees' employee.employee_id %}" class="btn btn-info"><i class="bx bx-show bx-md"></i> Ko'rish</a>
                        {% endif %}
                        <button type="submit" class="btn btn-success"><i class='bx bxs-save' ></i> Saqlash</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">
                        <i class="bx bx-exclamation-circle text-warning"></i> Siz {{employee.first_name}}-{{employee.last_name}} ni o'chirmoqchimisiz?
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Ushbu Xodimni o'chirishni xohlaysizmi? <br>
                    Ushbu amalni keyin qaytarib bo'lmaydi!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bekor qilish</button>
                    <button type="submit" class="btn btn-danger">Ha, o'chirilsin!</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.getElementById('bithday').addEventListener('input', function (e) {
        let val = e.target.value.replace(/\D/g, ''); // Faqat raqamlarni olish
        if (val.length >= 2) val = val.slice(0, 2) + '.' + val.slice(2);
        if (val.length >= 5) val = val.slice(0, 5) + '.' + val.slice(5);
        e.target.value = val.slice(0, 10); // Maksimal uzunlik 10 ta belgidan oshmasin
    });
    </script>
    
{% endblock content %}
    