{% extends 'base/base.html' %}
{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="card-title mb-4">{{ employee.first_name }} {{ employee.last_name }} {{ employee.surname }} ma'lumotlari</h4>
    <div class="card">
        <div class="card-body">
            <p><strong>Tugilgan yili:</strong> {{ employee.birthday }}</p>
            <p><strong>Xodim ID:</strong> {{ employee.employee_id }}</p>
            <p><strong>Ishga kirgan yil:</strong> {{ employee.arrived_year }}</p>
            <p><strong>Ishdan ketgan yil:</strong> {{ employee.gone_year }}</p>
            <p><strong>Hona:</strong> {{ employee.location.room }} - Xona</p>
            <p><strong>Shkaf:</strong> {{ employee.location.shelf }} - Shkaf</p>
            <h6>Hujjatlar:</h6>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Hujjat turi</th>
                        <th>Bor/yok</th>
                    </tr>
                </thead>
                <tbody>
                    {% for document in employee.documents.all %}
                    <tr>
                        <td>{{ document.get_doc_type_display }}</td>
                        <td>{{ document.is_available|yesno:"Bor,Yo'q" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table><hr>
            <a href="{% url 'edit_employees' employee.employee_id %}" class="btn btn-primary"><i class='bx bx-edit-alt'></i> Tahrirlash</a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                <i class="bx bx-trash bx-md"></i> O'chirish
            </button>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{% url 'delete_employees' employee.employee_id %}" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">
                        <i class="bx bx-exclamation-circle text-warning"></i> Ishonchingiz komilmi?
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Ushbu talabani o'chirishni xohlaysizmi? <br>
                    Ushbu amalni keyin qaytarib bo'lmaydi!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bekor qilish</button>
                    <button type="submit" class="btn btn-danger">Ha, o'chirilsin!</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}