{% extends 'base/base.html' %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="card-title mb-4">{{ user_info.full_name }} ma'lumotlari</h4>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-2" style="width: 15rem;">
                    <img src="{{ user_info.image }}" class="card-img-top" alt="{{user_info.full_name}}">
                </div>
                <div class="col-3">
                    <p><strong>Xodim ID:</strong> {{ employee.employee_id }}</p>
                    <p><strong>Tug'ilgan sana:</strong> {{ employee.bithday }}</p>
                    <p><strong>Pasport raqami:</strong> {{ employee.passport }}</p>
                    <p><strong>JSHSHIR-kod:</strong> {{ employee.personal_number }}</p>
                    <p><strong>Yoshi:</strong> {{ employee.age }}</p>
                    <p><strong>Fakultet:</strong> {{ employee.faculty }}</p>
                    <p><strong>Kafedra/Bo'lim:</strong> {{ employee.department }}</p>
                    <p><strong>Mehnat shakli:</strong> {{ employee.labor_form}}</p>
                    <p><strong>Stavka:</strong> {{ employee.stavka }} </p>
                </div>
                <div class="col-3">
                    <p><strong>Lavozim:</strong> {{ employee.position }}</p>
                    <p><strong>Telefon raqam:</strong> {{ employee.phone }}</p>
                    <p><strong>Ilmiy darajasi:</strong> {{employee.academic_degree}}</p>
                    <p><strong>Ilmiy unvon:</strong> {{ employee.academic_title }}</p>
                    <p><strong>Mutaxassisligi:</strong> {{ employee.expertise }}</p>
                    <p><strong>Ishga kirgan sana:</strong> {{ employee.start_position }}</p>
                    <p><strong>Shartnoma raqami:</strong> {{ employee.contract_number}}</p>
                    <p><strong>Shartnoma sanasi:</strong> {{ employee.contract_date }}</p>
                    <p><strong>Buyruq raqami:</strong> {{ employee.order_number }}</p>
                    <p><strong>Buyruq sanasi:</strong> {{ employee.order_date }}</p>
                </div>
                <div class="col-3">
                    <p><strong>Jinsi:</strong> {{employee.gender}}</p>
                    <p><strong>Email:</strong> {{ employee.email }}</p>
                    <p><strong>Doimiy yashash joyi:</strong> {{ employee.permanent_registration }}</p>
                    <p><strong>Tashkiloti nomi:</strong> {{ employee.organization }}</p>
                    <p><strong>Millati:</strong> {{ employee.nationality }}</p>
                    <p><strong>Tug'ilgan joyi:</strong> {{ employee.place_of_birth }}</p>
                    <p><strong>Tuman yoki Shaxar:</strong> {{ employee.city }}</p>
                    <p><strong>Oliy ta'lim muassasasini tugatgan yili:</strong> {{ employee.graduation_end_year }}</p>
                    <p><strong>Tugatgan oliy ta'limi nomi:</strong> {{ employee.end_education }}</p>
                </div>
            </div><br><hr>
            <a href="{% url 'all_employees'%}" class="btn btn-primary"><i class='bx bx-left-arrow-alt'></i> Ortga</a>
            <a href="{% url 'edit_employees' employee.employee_id %}" class="btn btn-primary"><i class='bx bx-edit-alt'></i> Tahrirlash</a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                <i class="bx bx-trash bx-md"></i> O'chirish
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{% url 'delete_employees' employee.employee_id %}" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">
                        <i class="bx bx-exclamation-circle text-warning"></i> Ishonchingiz komilmi?
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Ushbu Xodimni o'chirishni xohlaysizmi? <br>
                    Ushbu amalni keyin qaytarib bo'lmaydi!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bekor qilish</button>
                    <button type="submit" class="btn btn-danger">Ha, o'chirilsin!</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}