{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid flex-grow-1 container-p-y">
    <h4 class="card-title mb-4">{{ user_info.full_name }} ma'lumotlari</h4>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-2" style="width: 15rem;">
                    {% if user_info.image %}
                    <img src="{{ user_info.image }}" class="card-img-top" alt="{{user_info.full_name}}">
                    {% else %}
                    <img src="{% static 'assets/img/avatars/2.png' %}" class="card-img-top" alt="{{user_info.full_name}}">
                    {% endif %}
                </div>
                <div class="col-3">
                    <p><strong>Xodim ID:</strong> {{ employee.employee_id }}</p>
                    <p><strong>Tug'ilgan sana:</strong> {{ employee.bithday }}</p>
                    <p><strong>Pasport raqami:</strong> {{ employee.passport }}</p>
                    <p><strong>JSHSHIR-kod:</strong> {{ employee.personal_number }}</p>
                    <p><strong>Yoshi:</strong> {{ employee.age }}</p>
                    <p><strong>Telefon raqam:</strong> {{ employee.phone }}</p>
                    <p><strong>Ilmiy darajasi:</strong> {{employee.academic_degree}}</p>
                    <p><strong>Ilmiy unvon:</strong> {{ employee.academic_title }}</p>
                    <p><strong>Fuqaroligi:</strong> {{ employee.citizenship }}</p>
                    <p><strong>Email:</strong> {{ employee.email }}</p>
                    <p><strong>Doimiy yashash joyi:</strong> {{ employee.permanent_registration }}</p>
                </div>
                <div class="col-3"> 
                    <p><strong>Jinsi:</strong> {{ employee.gender }}</p>
                    <p><strong>Tashkiloti nomi:</strong> {{ employee.organization }}</p>
                    <p><strong>Millati:</strong> {{employee.nationality}}</p>
                    <p><strong>Tug'ilgan joyi:</strong> {{ employee.place_of_birth }}</p>
                    <p><strong>Tuman yoki Shaxar:</strong> {{ employee.city }}</p>
                    {% if employee.end_education_mag %}
                    <p><strong>Tugatgan oliy ta'limi nomi (Magistrt):</strong> {{ employee.end_education_mag}}</p> 
                    <p><strong>Oliy ta'lim muassasasini tugatgan yili (Magistrt):</strong> {{ employee.graduation_end_year_mag }}</p>
                    {% else %}
                    <p><strong>Tugatgan oliy ta'limi nomi:</strong> {{ employee.end_education }}</p> 
                    <p><strong>Oliy ta'lim muassasasini tugatgan yili:</strong> {{ employee.graduation_end_year }}</p>
                    {% endif %}
                </div>
                <div class="col-3">
                    {% for department in employee_data %}
                    <p><strong>Fakultet:</strong>{{ department.faculty }}</p>
                    <p><strong>Kafedra/Bo'lim:</strong>{{ department.department }}</p>
                    <p><strong>Ish shakli:</strong>{{ department.labor_form }}</p>
                    <p><strong>Stavka:</strong>{{ department.stavka }}</p>
                    <p><strong>Lavozimi:</strong>{{ department.position }}</p>
                    <p><strong>Mutaxassisligi:</strong>{{ department.expertise }}</p>
                    <p><strong>Ishga kirgan sana:</strong>{{ department.start_position }}</p>
                    <p><strong>Shartnoma raqami:</strong>{{ department.contract_number }}</p>
                    <p><strong>Shartnoma sanasi:</strong>{{ department.contract_date }}</p>
                    <p><strong>Buyruq raqami:</strong>{{ department.order_number }}</p>
                    <p><strong>Buyruq sanasi:</strong>{{ department.order_date }}</p>
                    
                {% endfor %}
                </div>
            </div>
            <br>
            <table class="dt-complex-header table table-bordered dataTable no-footer">
            <thead>
                <tr>
                    <th>Fakultet</th>
                    <th>Kafedra/Bo'lim</th>
                    <th>Ish shakli</th>
                    <th>Stavka</th>
                    <th>Lavozim</th>
                    <th>Mutaxassisligi</th>
                    <th>Ishga kirgan sana</th>
                    <th>Shartnoma raqami</th>
                    <th>Shartnoma sanasi</th>
                    <th>Buyruq raqami</th>
                    <th>Buyruq sanasi</th>
                </tr>
            </thead>
            <tbody>
                
                {% for department in departments %}
                    <tr>
                        <td>{{ department.faculty }}</td>
                        <td>
                            <a href="{% url 'edit_departments' department.id employee.employee_id %}">
                                <div class="d-flex justify-content-start align-items-center user-name">
                                    <div class="d-flex flex-column">
                                        <span class="emp_name text-truncate">
                                            {{ department.department }}
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td>{{ department.labor_form }}</td>
                        <td>{{ department.stavka }}</td>
                        <td>{{ department.position }}</td>
                        <td>{{ department.expertise }}</td>
                        <td>{{ department.start_position }}</td>
                        <td>{{ department.contract_number }}</td>
                        <td>{{ department.contract_date }}</td>
                        <td>{{ department.order_number }}</td>
                        <td>{{ department.order_date }}</td>
                        
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="11">Hech qanday ma'lumot topilmadi</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td  colspan="11">
                            <a href="{% url 'add_department'  employee.employee_id %}" class="btn btn-primary">
                                <i class="bx bx-plus bx-sm me-sm-2"></i> Qo'shish
                            </a>
                            
                        </td>
                    </tr>
            </tbody>
            
        </table>

            <br><hr>
            <a href="{% url 'all_employees'%}" class="btn btn-primary"><i class='bx bx-left-arrow-alt'></i> Ortga</a>
            <a href="{% url 'edit_employees' employee.employee_id %}" class="btn btn-primary"><i class='bx bx-edit-alt'></i> Tahrirlash</a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                <i class="bx bx-trash bx-md"></i> O'chirish
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{% url 'delete_employees' employee.employee_id %}" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">
                        <i class="bx bx-exclamation-circle text-warning"></i>Siz {{employee.first_name}}-{{employee.last_name}} ni o'chirmoqchimisiz?
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Ushbu Xodimni o'chirishni xohlaysizmi? <br>
                    Ushbu amalni keyin qaytarib bo'lmaydi!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bekor qilish</button>
                    <button type="submit" class="btn btn-danger">Ha, o'chirilsin!</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}